@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');

:root {
    --primary-clr: hsl(209, 100%, 50%);
    --lighter-primary-clr: hsl(209, 100%, 95%);
    --lightest-primary-clr: hsl(209, 100%, 98%);
    --black-clr: hsl(209, 100%, 7%);
    --highlight-clr: hsl(22, 96%, 48%);
    --warning-clr: hsl(340, 100%, 35%);
    --dimmed: hsl(0, 0%, 64%);
    --lightgrey-clr: hsl(0, 0%, 79%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
    height: 100dvh;
    color: var(--black-clr);
    font-size: .95rem;
    background-color: var(--lightest-primary-clr);
}

h1 {
    color: var(--primary-clr);
}

/* overall layout */
.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 10fr;
}

/* sidebar */
.sidebar {
    background-color: white;
    grid-row: 1 / -1;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sidebar .links-container {
    display: flex;
    flex-direction: column;
}

.sidebar .link {
    padding: 10px;
}

.logo {
    font-family: "Sacramento", cursive;
    font-size: 50px;
    text-align: center;
}

.divider {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

hr {
    border: none;
    border-top: 2px solid var(--lightgrey-clr);
    width: 15%;
}

.sidebar h2 {
    color: var(--dimmed);
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0 0 5px 20px;
}

.links-container a {
    display: flex;
    gap: 20px;
    align-items: center;
}

.links-container a svg {
    flex: 1;
}

.links-container a p {
    flex: 3;
}

.links-container a.add-project {
    color: var(--primary-clr)
}

.links-container .selected {
    background-color: var(--lighter-primary-clr);
    color: var(--primary-clr);
    font-weight: bold;
    border-radius: 8px;
}

/* header */
header {
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left {
    color: var(--primary-clr);
    display: flex;
    align-items: center;
    gap: 20px;
}

header .left figure {
    height: 35px;
}

header .right {
    color: var(--dimmed);
    transition: color .25s;
}

header .right:hover {
    color: var(--primary-clr);
}


/* main */
main>.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 2px 8px -3px var(--dimmed);
    display: flex;
    align-items: center;
    gap: 20px;
}

.task>.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
}

.task .checkbox {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid var(--primary-clr);
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: background-color .15s;
}

.task .checkbox:hover {
    background-color: var(--lighter-primary-clr);
}

.task .checkbox:checked {
    background-color: var(--primary-clr);
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
}

.task .right {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.task-attributes {
    color: var(--dimmed);
    font-size: .8rem;
    display: flex;
    gap: 0.75rem;
}

.task-attributes li {
    display: flex;
    align-items: center;
}

.task-attributes li:not(:first-child)::before {
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: var(--dimmed);
    margin-right: 0.75rem;
}

.attribute-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.today {
    color: var(--primary-clr)
}

.overdue {
    color: var(--highlight-clr);
}

/* urgent task */
.task.urgent {
    border-left: 10px solid var(--highlight-clr);
}

.task.urgent .checkbox-container {
    margin-left: -10px;
}

.attribute-container.urgent {
    color: var(--highlight-clr);
    font-weight: bold;
}


/* completed task */
.task.completed {
    background-color: var(--lightest-primary-clr);
    color: var(--dimmed);
}

.task.completed figure,
.task.completed p {
    color: var(--dimmed);
    font-weight: normal;
}

.task.completed .task-name {
    text-decoration: line-through;
}