@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');

:root {
    --primary-clr: hsl(209, 100%, 50%);
    --lighter-primary-clr: hsl(209, 100%, 95%);
    --lightest-primary-clr: hsl(209, 100%, 98%);
    --black-clr: hsl(209, 100%, 7%);
    --highlight-clr: hsl(22, 96%, 48%);
    --warning-clr: hsl(340, 100%, 35%);
    --dimmed: hsl(0, 0%, 64%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
    height: 100dvh;
    color: var(--black-clr);
}

h1 {
    color: var(--primary-clr);
}

/* overall layout */
.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 10fr;
}

/* sidebar */
.sidebar {
    grid-row: 1 / -1;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar .links-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links-container a {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo {
    font-family: "Sacramento", cursive;
    font-size: 50px;
    text-align: center;
}

.sidebar h2 {
    color: var(--dimmed);
    font-size: 0.8rem;
    font-weight: normal;
}

/* header */
header {
    padding: 20px 50px;
    background-color: var(--lightest-primary-clr);
}

header .right {
    color: var(--dimmed);
}

/* main */
main {
    padding: 50px;
    background-color: var(--lightest-primary-clr);
}